.DS_Store
mkmf.log
.bundle
db/*.sqlite3
config/database.yml
coverage
coverage.data
doc/app
doc/api
doc/controllers.png
doc/models.png
log/*.log
*.log
metrics
public/system
roodi.yml
storage
tmp/**/*
tmp/*.html
tmp/*
*~
.*.swp
.idea
